align:
  star:
    args: '--outSAMtype BAM SortedByCoordinate --genomeLoad LoadAndKeep --outMultimapperOrder Random --outSAMstrandField intronMotif --outSAMunmapped Within --outSAMattrIHstart 0 --outFilterMismatchNoverLmax 0.05 --outFilterMatchNmin 15 --outFilterScoreMinOverLread 0  --outFilterMatchNminOverLread 0 --alignIntronMax 1 --limitBAMsortRAM 20000000000 --outFilterMultimapNmax 10 --outFilterMultimapScoreRange 0 --alignEndsType EndToEnd '
    guided_index: false
    read_geometry: 50