'Swift Normalase Amplicon Panels SNAP SARS-CoV-2 Panels Rev-6 PE':
  libprep_name: 'Swift_Normalase_Amplicon_Panels_SNAP_SARS_CoV_2_Panels_Rev_6_PE'
  workflow: sars-cov2
  molecule: 'genomic DNA'
  library_source: genomic
  library_strategy: amplicon
  library_selection: amplicion
  library_strand: 'first_strand'
  read_orientation: reverse
  adapter:
  adapter2:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ncbi
    viral_reference: 'NC_045512.2'
  signal:
    viral_reference: 'NC_045512.2'
    protocol: swift
    min_qual: 20
    min_len: 20
    run_breseq: false
    primer_pairs_tsv:
    mpileup_depth: 100000
    ivar_freq_threshold: 0.75
    ivar_min_freq_threshold: 0.25
    ivar_min_variant_quality: 20
    ivar_min_coverage_depth: 10

'Lexogen SENSE mRNA-Seq Library Prep Kit V2 SE':
  libprep_name: 'Lexogen_SENSE_mRNA-Seq_Library_Prep_Kit_V2_SE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_layout: single
  library_source: transcriptomic
  library_strategy: ssRNA-Seq
  library_selection: PolyA
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [-10]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-f 10 -l 31 --low_complexity_filter '
      skip:
        params: ''

'Lexogen SENSE mRNA-Seq Library Prep Kit V2 PE':
  libprep_name: 'Lexogen_SENSE_mRNA-Seq_Library_Prep_Kit_V2_PE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_layout: paired
  library_source: transcriptomic
  library_strategy: ssRNA-Seq
  library_selection: PolyA
  library_strand: 'first strand'
  protocol:
    library_construction: ''
    sequencing: ''
  read_orientation: reverse
  delta_readlen: [-10, -7]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT' 
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-f 10 -F 7 -l 31'

'Lexogen SENSE Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2) SE':
  libprep_name: 'Lexogen_SENSE_Total_RNA-Seq_Library_Prep_Kit_(w/RiboCop_rRNA_Depletion_Kit_V1.2)_SE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_layout: single
  library_source: transcriptomic
  library_strategy: ssRNA-Seq
  library_strand: 'first strand'
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)'
  read_orientation: reverse
  delta_readlen: [-10]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-f 10 -l 31'

'Lexogen SENSE Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2) PE':
  libprep_name: 'Lexogen_SENSE_Total_RNA-Seq_Library_Prep_Kit_(w/RiboCop_rRNA_Depletion_Kit_V1.2)_PE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_layout: paired
  library_source: transcriptomic
  library_strategy: ssRNA-Seq
  library_strand: 'first strand'
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)'
  protocol:
    library_construction: ''
    sequencing: ''
  read_orientation: reverse
  delta_readlen: [-10, -7]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
  protocol:
    library_construction: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-f 10 -F 7 -l 31'

'CORALL Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2) SE':
  libprep_name: 'CORALL_Total_RNA-Seq_Library_Prep_Kit_(w/RiboCop_rRNA_Depletion_Kit_V1.2)_SE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_layout: single
  library_source: transcriptomic 
  library_strategy: ssRNA-Seq
  library_strand: 'first strand'
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)' 
  read_orientation: forward
  delta_readlen: [-12]
  adapter: auto
  extra_adapters: 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--umi --umi_loc read1 --umi_len 10 -f 2 -l 31 '

'CORALL Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2) PE':
  libprep_name: 'CORALL_Total_RNA-Seq_Library_Prep_Kit_(w/RiboCop_rRNA_Depletion_Kit_V1.2)_PE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_layout: paired
  library_source: transcriptomic 
  library_strategy: ssRNA-Seq
  library_strand: 'second strand'
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)'
  read_orientation: forward
  delta_readlen: [-12, -9]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
  extra_adapters:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--umi --umi_loc read1 --umi_len 10 -f 2 -F 9 -l 31 -x '

'Lexogen CORALL mRNA-Seq Library Prep Kit SE':
  libprep_name: 'Lexogen_CORALL_mRNA-Seq_Library_Prep_Kit_SE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_layout: single
  library_source: transcriptomic 
  library_strategy: ssRNA-Seq
  library_selection: PolyA
  library_strand: 'second strand'
  read_orientation: forward
  delta_readlen: [-12]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--umi --umi_loc read1 --umi_len 10 -f 2 -l 31'

'Lexogen CORALL mRNA-Seq Library Prep Kit PE':
  libprep_name: 'Lexogen_CORALL_mRNA-Seq_Library_Prep_Kit_PE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_layout: paired
  library_source: transcriptomic 
  library_strategy: ssRNA-Seq
  library_selection: PolyA
  library_strand: 'second strand'
  read_orientation: forward
  delta_readlen: [-12, -9]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--umi --umi_loc read1 --umi_len 10 -f 2 -F 9 -l 31 -x '

'Illumina TruSeq Stranded mRNA Library Prep SE':
  libprep_name: 'Illumina_TruSeq_Stranded_mRNA_Library_Prep_SE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_layout: single
  library_source: transcriptomic
  library_strategy: ssRNA-Seq
  library_selection: PolyA
  library_strand: 'second strand'
  read_orientation: forward
  delta_readlen: [-1]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 1 -l 31'

'Illumina TruSeq Stranded mRNA Library Prep PE':
  libprep_name: 'Illumina_TruSeq_Stranded_mRNA_Library_Prep_PE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_source: transcriptomic
  library_strategy: 'ssRNA-Seq'
  library_selection: PolyA
  library_strand: 'second strand'
  read_orientation: forward
  delta_readlen: [-1, -1]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 1 -T 1 -l 31'

'Illumina Stranded mRNA Prep SE':
  libprep_name: 'Illumina_Stranded_mRNA_Prep_SE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_source: transcriptomic
  library_strategy: 'ssRNA-Seq'
  library_selection: PolyA
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [-1]
  adapter: 'CTGTCTCTTATACACATCT'
  extra_adapters: 'TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG,GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAG'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 2 -l 31'

'Illumina Stranded mRNA Prep PE':
  libprep_name: 'Illumina_Stranded_mRNA_Prep_PE'
  workflow: rnaseq
  molecule: 'polyA RNA'
  library_source: transcriptomic
  library_strategy: 'ssRNA-Seq'
  library_selection: PolyA
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [-1, -1]
  adapter: 'CTGTCTCTTATACACATCT'
  adapter2: 'CTGTCTCTTATACACATCT'
  extra_adapters: 'TCGTCGGCAGCGTCAGATGTGTATAAGAGACAG,GTCTCGTGGGCTCGGAGATGTGTATAAGAGACAG'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 2 -T 2 -l 31'

'Illumina Stranded Total mRNA Prep with Ribo-Zero Plus SE':
  libprep_name: 'Illumina_Stranded_Total_mRNA_Prep_with_Ribo-Zero_Plus_SE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_strategy: 'ssRNA-Seq'
  library_source: transcriptomic
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [-1]
  adapter: 'CTGTCTCTTATACACATCT'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 1 -l 31'

'Illumina Stranded Total mRNA Prep with Ribo-Zero Plus PE':
  libprep_name: 'Illumina_Stranded_Total_mRNA_Prep_with_Ribo-Zero_Plus_PE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_source: transcriptomic
  library_strategy: 'ssRNA-Seq'
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [-1, -1]
  adapter: 'CTGTCTCTTATACACATCT'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 1 -T 1 -l 31 '

'Illumina TruSeq Stranded Total RNA Library Prep (Globin) SE':
  libprep_name: 'Illumina_TruSeq_Stranded_mRNA_Library_Prep_SE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_source: transcriptomic
  library_strategy: 'ssRNA-Seq'
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)'
  library_strand: 'first strand'
  read_orientation: forward
  delta_readlen: [-1]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 1 -l 31'

'Illumina TruSeq Stranded Total RNA Library Prep (Globin) PE':
  libprep_name: 'Illumina_TruSeq_Stranded_mRNA_Library_Prep_PE'
  workflow: rnaseq
  molecule: 'total RNA'
  library_source: transcriptomic
  library_strategy: 'ssRNA-Seq'
  library_selection: 'Inverse rRNA (depletion of ribosomal RNA by oligo hybridization)'
  library_strand: 'second strand'
  read_orientation: forward
  delta_readlen: [-1, -1]
  adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
  adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'
  protocol:
    library_construction: ''
    sequencing: ''
  bcl2fastq:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  bclconvert:
    settings:
      Read1StartFromCycle: 2
      Read2StartFromCycle: 2
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-t 1 -T 1 -l 31'

'Bioo Scientific NEXTflex Small RNA-Seq Kit v3 SE':
  libprep_name: 'Bioo_Scientific_NEXTflex_Small_RNA-Seq_Kit_v3_SE'
  workflow: smallrna
  molecule: 'total RNA'
  library_source: transcriptomic
  library_strategy: 'miRNA-Seq'
  library_selection: 'size fractionation'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [-8]
  adapter: 'TGGAATTCTCGGGTGCCAAGG'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    dedup: false
    trim:
      quantifier: fastp
      fastp:
        args: '-f 4 -t 4 --low_complexity_filter -A'
        trim_args: '-Q -n 0 -l 0 -G '
      mirtrace:
        protocol: nextflex

'TruSeq Small RNA Library Prep Kit SE':
  libprep_name: 'TruSeq_Small_RNA_Library_Prep_Kit_SE'
  workflow: smallrna
  molecule: 'total RNA'
  library_source: transcriptomic
  library_strategy: 'ssRNA-Seq'
  library_selection: 'size fractionation'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0]
  adapter: 'TGGAATTCTCGGGTGCCAAGG'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    dedup: false
    trim:
      filter: true
      quantifier: fastp
      mirtrace:
        protocol: nextflex
      fastp:
        args: '--low_complexity_filter -A '
        trim_args: '-Q -n 0 -l 0 -G '  

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v3 PE':
  libprep_name: '10X_Genomics_Chromium_Single_Cell_3p_GEM_Library_&_Gel_Bead_Kit_v3_PE'
  workflow: singlecell
  molecule: 'PolyA RNA'
  library_source: 'transcriptomic single cell'
  library_strategy: 'ssRNA-Seq'
  library_selection: 'Oligo-dT'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: 10xgenomics
  quant:
    cellranger:
      chemistry: SC3Pv3
      whitelist: 3M-february-2018.txt
    starsolo:
      whitelist: 3M-february-2018.txt
      cb_len: 16
      umi_len: 12
      umi_start: 17
    alevin:
      chemistry: chromiumV3
    umi_tools:
      chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-l 28'

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v2 PE':
  libprep_name: '10X_Genomics_Chromium_Single_Cell_3p_GEM_Library_&_Gel_Bead_Kit_v2_PE'
  workflow: singlecell
  molecule: 'PolyA RNA'
  library_source: 'transcriptomic single cell'
  library_strategy: 'ssRNA-Seq'
  library_selection: 'Oligo-dT'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: 10xgenomics
  quant:
    cellranger:
      chemistry: SC3Pv2
      whitelist: 737K-august-2016.txt
    starsolo:
      whitelist: 737K-august-2016.txt
      cb_len: 16
      umi_len: 10
      umi_start: 17
    alevin:
      chemistry: chromium
    umi_tools:
      chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNN
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-l 28'

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v1 PE':
  libprep_name: '10X_Genomics_Chromium_Single_Cell_3p_GEM_Library_&_Gel_Bead_Kit_v1_PE'
  workflow: singlecell
  molecule: 'PolyA RNA'
  library_source: 'transcriptomic single cell'
  library_strategy: 'ssRNA-Seq'
  library_selection: 'Oligo-dT'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: 10xgenomics
  quant:
    cellranger:
      chemistry: SC3Pv1
      whitelist: 737K-april-2014_rc.txt
    starsolo:
      whitelist: 737K-april-2014_rc.txt
      cb_len: 14
      umi_len: 10
      umi_start: 15
    alevin:
      chemistry: chromium
    umi_tools:
      chemistry: CCCCCCCCCCCCCCNNNNNNNNNN
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-l 28'

'Drop-Seq PE':
  libprep_name: 'drop_seq'
  workflow: singlecell
  molecule: 'PolyA RNA'
  library_source: 'transcriptomic single cell'
  library_strategy: 'ssRNA-Seq'
  library_selection: 'cDNA'
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter: AAGCAGTGGTATCAACGCAGAGTGAATGGG
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  quant:
    umi_tools:
      chemistry: CCCCCCCCCCCCNNNNNNNN
    cellranger:
      chemistry: SC3Pv1
      whitelist: 10xGenomics/737K-april-2014_rc.txt
    starsolo:
      cb_len: 12
      umi_len: 8
      umi_start: 13
    alevin:
      chemistry: chromium
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '-x'

'16S Metagenomic Sequencing Library Prep PE':
  libprep_name: '16S_Metagenomic_Sequencing_Library_Prep_PE'
  workflow: microbiome
  molecule: 'genomic DNA'
  library_source: metagenomic
  library_strategy: amplicon
  library_selection: PCR
  library_strand: 'first strand'
  comment: 'Illumina 341-805 (V4) standard protocol'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter: 'CTGTCTCTTATACACATCT'
  adapter2: 'CTGTCTCTTATACACATCT'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: silva
    classifier_level: 99
    primers:
      V4:
        CCTACGGGNGGCWGCAG-GACTACHVGGGTATCTAATCC
  filter:
    trim:
      quantifier: fastp
      fastp:
        params:
          '--low_complexity_filter --correction '

'QIAseq 16S ITS Region Panels PE':
  libprep_name: 'QIAseq_16S_ITS_Region_Panels_PE'
  workflow: metagenome
  molecule: 'genomic DNA'
  library_source: metagenomic
  library_strategy: amplicon
  library_selection: PCR
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter: 'auto'
  adapter2: 'auto'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ncbi_16s
    ncbi_16s:
      assembly: ncbi_16s
      add_ercc: false
    langmead:
      add_ercc: false
      assembly: 16S_Silva138
    classifier_level: 99
    primers:
      V1V2:
        AGRGTTTGATYMTGGCTC-CTGCTGCCTYCCGTA
      V2V3:
        GGCGNACGGGTGAGTAA-WTTACCGCGGCTGCTGG
      V3V4:
        CCTACGGGNGGCWGCAG-GACTACHVGGGTATCTAATCC
      V4V5:
        GTGYCAGCMGCCGCGGTAA-CCGYCAATTYMTTTRAGTTT
      V5V7:
        GGATTAGATACCCBRGTAGTC-ACGTCRTCCCCDCCTTCCTC
      V7V9:
        YAACGAGCGMRACCC-TACGGYTACCTTGTTAYGACTT
      ITS1:
        CTTGGTCATTTAGAGGAAGTAA-GCTGCGTTCTTCATCGATGC
      ITS2:
        GTGARTCATCGARTCTTTGAA-CTBTTVCCKCTTCACTCG
  filter:
    trim:
      quantifier: fastp
      fastp:
        params:
          '--low_complexity_filter --correction '
  quant:
    method: qiime2
    qiime2:
      dada2:
        params:
          trunc_len_f: 240
          trunc_len_r: 200
          trim_left_f: 0
          trim_left_r: 0
          max_ee_f: 6.0
          max_ee_r: 8.0
          trunc_q: 2
          min_fold_parent_over_abundance: 1.0

'ITS Low Input GCF Custom PE':
  libprep_name: 'ITS_Low_Input_GCF_Custom'
  workflow: microbiome
  molecule: 'genomic DNA'
  library_source: metagenomic
  library_strategy: amplicon
  library_selection: PCR
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter: 'CTGTCTCTTATACACATCT'
  adapter2: 'CTGTCTCTTATACACATCT'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: unite
    classifier_level: 99
    primers:
      ITS: CTTGGTCATTTAGAGGAAGTAA-GNTGCGTTCTTCATCGATGS
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--low_complexity_filter --correction '
  quant:
    method: qiime2
    qiime2:
      dada2:
        params:
          trunc_len_f: 240
          trunc_len_r: 200
          trim_left_f: 0
          trim_left_r: 0
          max_ee_f: 6.0
          max_ee_r: 8.0
          trunc_q: 2
          min_fold_parent_over_abundance: 1.0

'ITS2 Low Input GCF Custom PE':
  libprep_name: 'ITS_Low_Input_GCF_Custom'
  workflow: microbiome
  molecule: 'genomic DNA'
  library_source: metagenomic
  library_strategy: amplicon
  library_selection: PCR
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter: 'CTGTCTCTTATACACATCT'
  adapter2: 'CTGTCTCTTATACACATCT'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: unite
    classifier_level: 99
    primers:
      ITS2: GTGARTCATCGAATCTTT-GATATGCTTAAGTTCAGCGGGT
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--low_complexity_filter --correction '
  quant:
    method: qiime2
    qiime2:
      dada2:
        params:
          trunc_len_f: 240
          trunc_len_r: 200
          trim_left_f: 0
          trim_left_r: 0
          max_ee_f: 6.0
          max_ee_r: 8.0
          trunc_q: 2
          min_fold_parent_over_abundance: 1.0

'WGS Custom PE':
  libprep_name: 'WGS_Custom_PE'
  workflow: wgs
  molecule: 'genomic DNA'
  library_source: genomic
  library_strategy: WGS
  library_selection: random
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter:
  adapter2:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    trim:
      quantifier: fastp
      fastv:
        params: '--low_complexity_filter --correction --cut_front --cut_tail --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --trim_poly_x  --detect_adapter_for_pe '
      fastp:
        params: ''

'WGS Custom SE':
  libprep_name: 'WGS_Custom_SE'
  workflow: wgs
  molecule: 'genomic DNA'
  library_source: genomic
  library_strategy: WGS
  library_selection: random
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0]
  adapter:
  adapter2:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    trim:
      quantifier: fastp
      fastv:
        params: '--low_complexity_filter --correction --cut_front --cut_tail --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --trim_poly_x  -A '
      fastp:
        params: ''

'Illumina TruSeq DNA PCR-Free Library Prep PE':
  libprep_name: 'Illumina_TruSeq_DNA_PCR-Free_Library_Prep_PE'
  workflow: default
  molecule: 'genomic DNA'
  library_source: genomic
  library_strategy: wgs
  library_selection: RANDOM
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter:
  adapter2:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    trim:
      quantifier: fastv_pe
      fastv:
        params: '--low_complexity_filter --correction --cut_front --cut_tail --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --trim_poly_x  --detect_adapter_for_pe '

'Illumina TruSeq DNA PCR-Free Library Prep SE':
  libprep_name: 'Illumina_TruSeq_DNA_PCR-Free_Library_Prep_SE'
  workflow: default
  molecule: ''
  library_source: genomic
  library_strategy: wgs
  library_selection: random
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0]
  adapter:
  adapter2:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    trim:
      quantifier: fastv_se
      fastv:
        params: '--low_complexity_filter --correction --cut_front --cut_tail --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --trim_poly_x  -A '


'Custom SE':
  libprep_name: 'custom_SE'
  workflow: default
  molecule: ''
  library_source: ''
  library_strategy: ''
  library_selection: ''
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0]
  adapter:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: ''
        trim_args: ''

'Custom PE':
  libprep_name: 'custom_PE'
  workflow: default
  molecule: ''
  library_source: ''
  library_strategy: ''
  library_selection: ''
  library_strand: 'first strand'
  read_orientation: reverse
  delta_readlen: [0, 0]
  adapter:
  adapter2:
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: ''
        trim_args: ''

'Smart Seq Nextera XT v2 SE':
  libprep_name: 'Smart_Seq_Nextera_XT_v2_SE'
  workflow: singlecell
  molecule: ''
  library_source: 'transcriptomic single cell'
  library_strategy: ''
  library_selection: ''
  library_strand: 'first strand'
  read_orientation: unstranded
  delta_readlen: [0]
  adapter: 'CTGTCTCTTATACACATCT'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: ''

'Smart Seq Nextera XT v2 PE':
  libprep_name: 'Smart_Seq_Nextera_XT_v2_PE'
  workflow: singlecell
  molecule: ''
  library_source: transcriptomic
  library_strategy: '' 
  library_selection: ''
  library_strand: 'first strand'
  read_orientation: unstranded
  delta_readlen: [0, 0]
  adapter: 'CTGTCTCTTATACACATCT'
  adapter2: 'CTGTCTCTTATACACATCT' 
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
    ensembl:
      add_ercc: false
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: ''

'Illumina Nextera XT DNA Library Prep SE':
  libprep_name: 'Illumina_Nextera_XT_DNA_Library_Prep_SE'
  workflow: metagenome
  library_source: genomic
  library_strategy: WGS
  library_selection: RANDOM
  library_strand: 'first strand'
  read_orientation: unstranded
  protocol:
    library_construction: ''
    sequencing: ''
  delta_readlen: [0]
  adapter: 'CTGTCTCTTATACACATCT'
  db:
    reference_db: langmead
    langmead:
      add_ercc: false
      assembly: k2_pluspf
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--low_complexity_filter --correction --cut_front --cut_tail --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --trim_poly_x --trim_front1 11 --trim_tail1 1 '

'Illumina Nextera XT DNA Library Prep PE':
  libprep_name: 'Illumina_Nextera_XT_DNA_Library_Prep2_PE'
  workflow: metagenome
  library_source: genomic
  library_strategy: WGS
  library_selection: RANDOM
  library_strand: 'first strand'
  read_orientation: unstranded
  delta_readlen: [0, 0]
  adapter: 'CTGTCTCTTATACACATCT'
  adapter2: 'CTGTCTCTTATACACATCT'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: langmead
    langmead:
      add_ercc: false
      assembly: k2_pluspf
  filter:
    trim:
      quantifier: fastp
      fastp:
        params: '--low_complexity_filter --correction --cut_front --cut_tail --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50 --trim_poly_x --trim_front1 11 --trim_tail1 1 --trim_front2 11 --trim_tail2 1'

'Bioo Scientific NEXTflex Small RNA-Seq Kit v4 SE':
  libprep_name: 'Bioo_Scientific_NEXTflex_Small_RNA-Seq_Kit_v4_SE'
  workflow: smallrna
  library_source: transcriptomic
  library_strategy: 'miRNA-Seq'
  library_selection: 'size fractionation'
  library_strand: 'first strand'
  read_orientation: reverse
  adapter: 'TGGAATTCTCGGGTGCCAAGG'
  protocol:
    library_construction: ''
    sequencing: ''
  db:
    reference_db: ensembl
  filter:
    dedup: false
    trim:
      quantifier: fastp
      fastp:
        args: '--low_complexity_filter -A '
        trim_args: '-Q -n 0 -l 0 -G '
      mirtrace:
        protocol: nextflex
