organism:
strain:
libprepkit:
read_orientation: null
read_geometry: null
sample_id: Sample_ID
sample_group_id: Sample_Group
batch_id: null
block_id: null
db:
  add_ercc: false
  reference_db: ensembl
  10xgenomics:
    release: '2020-A'
    add_ercc: false
  ensembl:
    release: '109'
    all_divisions: 'vertebrates,protists,metazoa,plants,fungi,bacteria'
    add_ercc: false
  ensemblgenomes:
    release: '56'
    add_ercc: false
  gencode:
    release: '43'
    add_ercc: false
  refseq:
    release: '217'
    add_ercc: false
  lncbook:
    release: '9.28'
  mirbase:
    release: '22'
    add_calibrators: false
    add_ercc: false
  mircarta:
    release: '1.1'
    add_calibrators: false
    add_ercc: false
  pirbase:
    release: '2.0'
  pirnadb:
    release: '1_7_6'
  rnacentral:
    protocol: http
    release: '22.0'
  unitas:
    release: '15-03-2023'
  unite:
    release: '8_2'
    level: 'dynamic'
  silva:
    release: '132'
    level: '99'
  greengenes:
    release: '13_8'
    level: '97'
  frnadb:
    release: '20160329'
  lncipedia:
    release: '5_2'
  sortmerna:
    db: 'silva-arc-16s-id95,silva-arc-23s-id98,silva-bac-16s-id90,silva-bac-23s-id98,silva-euk-18s-id95,silva-euk-28s-id98,rfam-5.8s-database-id98,rfam-5s-database-id98'
  langmead:
    release: '20230605'
    assembly: 'k2_pluspf'
  k2_smallrna_custom:
    release: '20231122'
    assembly: 'k2_smallrna_custom_pluspf'
  ncbi_16s:
    release: '222'
    assembly: ncbi_16s

filter:
  compress_filtered_fastq: false
  subsample_fastq: skip
  dedup: false
  trim:
    filter: false
    quantifier: skip
    fastp:
      params: ''
      trim_args: ''
    mirtrace:
      protocol: null
  spikein:
    filter: false
    quantifier: skip
    ref: 'ERCC92'
  ribosomal:
    filter: false
    quantifier: skip
    ref: ncbi
  contaminants:
    filter: false
    quantifier: skip
    ref: univec_core

align:
  transcriptome:
    aligner: bwa
  genome:
    aligner: star

quant:
  batch:
    method: skip

qc:
  bam_subset: housekeeping_genes

analysis:

assembly:
  base_ref_dir: ensembl
  transcriptome:
    assembler: skip
    merge:
      type: fastq
  genome:
    assembler: skip

multiqc:
  rnaseq: 
    modules: 'fastq_screen,star,picard,fastp,fastqc_rnaseq,salmon,rseqc,custom_content,kraken'
  microbiome: 
    modules: 'fastq_screen,fastp,fastqc_rnaseq,custom_content,qiime2'
  singlecell: 
    modules: 'cellranger,starsolo,fastp,fastqc_rnaseq,custom_content,cellranger_count,kraken'
  smallrna: 
    modules: 'star,picard,fastp,fastqc_rnaseq,unitas,custom_content'
  default: 
    modules: 'fastq_screen,fastp,fastqc_rnaseq,custom_content,kraken'
  wgs:
    modules: 'fastq_screen,fastqc_rnaseq,qualimap,fastp,picard,kraken'
  metagenome:
    modules: 'fastqc_rnaseq,fastp,kraken,bracken,custom_content'
