align:
  star:
    args: '--outSAMtype BAM SortedByCoordinate --genomeLoad LoadAndKeep --outMultimapperOrder Random --outSAMstrandField intronMotif --outSAMmultNmax 20 --outFilterMultimapNmax 20 --outSAMunmapped Within KeepPairs --outFilterType BySJout --limitBAMsortRAM 10000000000 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverReadLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMattrIHstart 0 '
    guided_index: true
