filter:
  fastq_merge:
    skip: false
    sscol: Sample_ID
  sample_merge:
    skip: true
    step: quant
    sscol: Sample_Name
  trim:
    filter: true
    count: true
    trimmer: fastp
  spikein:
    filter: false
    count: true
    quantifier: skip
    ref: 'ercc'
  ribosomal:
    filter: true
    count: true
    quantifier: skip
    ref: 'ncbi'
  contaminants:
    filter: false
    count: true
    quantifier: skip
    ref: 'univec,common_bacterial_euk'
    