docker:
  default: gcfntnu/python-base-conda:4.8.2
  fastqc: biocontainers/fastqc:v0.11.9_cv7
  fastq-screen: quay.io/biocontainers/fastq-screen:0.14.0--pl526_0
  multiqc: gcfntnu/multiqc:1.8dev-gcf
  hisat2: quay.io/biocontainers/hisat2:2.1.0--py36h2d50403_1
  bowtie: biocontainers/bowtie:v1.1.2_cv4
  bowtie_samtools: gcfntnu/bowtie_samtools:1.2.3
  bowtie2: biocontainers/bowtie2:v2.3.4.3-1-deb_cv1
  bowtie2_samtools: gcfntnu/bowtie2_samtools:2.3.5
  bbmap: quay.io/biocontainers/bbmap:38.75--h516909a_0
  star: gcfntnu/star:2.7.5c
  quikmirseq: gcfntnu/quickmirseq:1.0
  tximport: gcfntnu/tximport:1.14.0
  cellranger: gcfntnu/cellranger:4.0.0
  mirge: gcfntnu/mirge:2.0
  unitas: gcfntnu/unitas:1.7.5
  sambamba: gcfntnu/sambamba:0.7
  salmon: gcfntnu/salmon:1.3.0
  subread: quay.io/biocontainers/subread:1.6.3--h84994c4_1
  rseqc: quay.io/biocontainers/rseqc:3.0.0--py36hf8a1672_0
  preseq: quay.io/biocontainers/preseq:2.0.3--hf53bd2b_3
  samtools: kfdrc/samtools:1.9
  picard_gatk: gcfntnu/picard:2.21.4
  qorts: quay.io/biocontainers/qorts:1.3.0--py35_0
  bedops: kfdrc/bedops:2.4.36
  ucsc-scripts: gcfntnu/ucsc-scripts
  fastp: biocontainers/fastp:v0.20.1_cv1
  qualimap: pegi3s/qualimap:2.2.1
  mirtrace: gcfntnu/mirtrace:1.0.1
  stringtie: quay.io/biocontainers/stringtie:2.0--hc900ff6_0
  taco: gcfntnu/taco:0.7.3
  scallop: gcfntnu/scallop:0.10.4
  sambamaba: quay.io/biocontainers/sambamba:0.7.1--h148d290_0
  gffcompare: quay.io/biocontainers/gffcompare:0.11.2--h6bb024c_0
  gffread: quay.io/biocontainers/gffread:0.11.6--h8b12597_0
  pyensembl: quay.io/biocontainers/pyensembl:1.8.4--py_0
  ucsc-scripts: gcfntnu/ucsc-scripts:latest
  rsem: quay.io/biocontainers/rsem:1.3.2--pl526ha52163a_1
  entrez-direct: gcfntnu/entrez_direct:11.0
  quickmirseq: gcfntnu/quickmirseq:1.0
  mirge: gcfntnu/mirge:2.0
  unitas: gcfntnu/unitas:1.7.5
  sortmerna: quay.io/biocontainers/sortmerna:2.1b--he860b03_4
  sartools: gcfntnu/sartools:1.7.3
  atropos: jdidion/atropos:latest
  fastx_toolkit: quay.io/biocontainers/fastx_toolkit:0.0.14--he1b5a44_8
  bfq_plot: gcfntnu/bfq_plot:0.1
  qiime2: gcfntnu/qiime2:2019.10
  fastq_pair: gcfntnu/fastq_pair:0.3
  scanpy: gcfntnu/scanpy:1.6.0
  seurat: gcfntnu/seurat:dev-3.0.1
  umi_tools: quay.io/biocontainers/umi_tools:0.5.5--py36h470a237_0
  velocyto: gcfntnu/velocyto:0.17.17
  cellbrowser: gcfntnu/cellbrowser:latest
  phyloseq: gcfntnu/phyloseq:1.28.0
