'Lexogen SENSE mRNA-Seq Library Prep Kit V2':
    name: 'Lexogen_SENSE_mRNA-Seq_Library_Prep_Kit_V2'
    strand: reverse
    reference_db: ensembl
    single_end:
      adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
      trimmer: fastp
      fastp:
        params: '-f 10 -l 31'
      contaminant_filter: bowtie2
      bowtie2:
        params: '--end-to-end --sensitive'
    paired_end:
      adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
      adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT' 
      trimmer: fastp
      fastp:
        params: '-f 10 -F 7 -l 31'
      contaminant_filter: bowtie2
      bowtie2:
        params: '--end-to-end --sensitive'

'Lexogen SENSE Total RNA-Seq Library Prep Kit (w/RiboCop rRNA Depletion Kit V1.2)':
  name: 'Lexogen_SENSE_Total_RNA-Seq_Library_Prep_Kit_(w/RiboCop_rRNA_Depletion_Kit_V1.2)'
  strand: reverse
  reference_db: ensembl
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTCA'
    trimmer: fastp
    fastp:
      params: '-f 10 -l 31 -t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'      
    trimmer: fastp
    fastp:
      params: '-f 10 -F 7 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'

'Illumina TruSeq Stranded mRNA Library Prep':
  name: 'Illumina_TruSeq_Stranded_mRNA_Library_Prep'
  strand: reverse
  reference_db: ensembl
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    trimmer: fastp
    fastp:
      params: '-t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'  
    trimmer: fastp
    fastp:
      params: '-t 1 -T 1 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
      
'Illumina TruSeq Stranded Total RNA Library Prep (Globin)':
  name: 'Ixllumina_TruSeq_Stranded_mRNA_Library_Prep'
  strand: reverse
  reference_db: ensembl
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    trimmer: fastp
    fastp:
      params: '-t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'  
    trimmer: fastp
    fastp:
      params: '-t 1 -T 1 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
      
'Illumina TruSeq Stranded Total RNA Library Prep (Globin)':
  name: 'Illumina TruSeq Stranded mRNA Library Prep'
  strand: reverse
  reference_db: ensembl
  single_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    trimmer: fastp
    fastp:
      params: '-t 1'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'
  paired_end:
    adapter: 'AGATCGGAAGAGCACACGTCTGAACTCCAGTC'
    adapter2: 'AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT'  
    trimmer: fastp
    fastp:
      params: '-t 1 -T 1 -l 31'
    contaminant_filter: bowtie2
    bowtie2:
      params: '--end-to-end --sensitive'

'default-rnaseq':
  name: 'default-rnaseq'
  strand: reverse
  reference_db: ensembl
  single_end:
    trimmer: fastp
    fastp:
      params: '-A -Q'
  paired_end:
    trimmer: fastp
    fastp:
      params: '-A -Q'
      
'Bioo Scientific NEXTflex Small RNA-Seq Kit v3':
  name: 'Bioo_Scientific_NEXTflex_Small_RNA-Seq_Kit_v3'
  strand: reverse
  db:
    reference_db: ensembl
  filter:
    adapter: 'TGGAATTCTCGGGTGCCAAGG'
    dedup: false
    trim:
      filter: true
      quantifier: fastp
    mirtrace:
      protocol: nextflex
    fastp:
      args: '-f 4 -t 4 --low_complexity_filter -A '
      trim_args: '-Q -n 0 -l 0 -G '

'TruSeq Small RNA Library Prep Kit':
  name: 'TruSeq_Small_RNA_Library_Prep_Kit'
  strand: reverse
  reference_db: ensembl
  adapter: 'TGGAATTCTCGG'
  trimmer: mirtrace
  mirtrace:
    protocol: default

'default-smallrna':
  name: 'default-smallrna'
  strand: reverse
  reference_db: ensembl
  adapter: 'TGGAATTCTCGGGTGCCAAGG'
  trimmer: mirtrace
  mirtrace:
    protocol: nextflex

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v3':
  name: '10X_Genomics_Chromium_Single_Cell_3p_GEM_Library_&_Gel_Bead_Kit_v3'
  cellranger:
    chemistry: SC3Pv3
    whitelist: 3M-february-2018.txt
  starsolo:
    whitelist: 3M-february-2018.txt
    cb_len: 16
    umi_len: 12
    umi_start: 17
  alevin:
    chemistry: chromiumV3
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v2':
  name: '10X_Genomics_Chromium_Single_Cell_3p_GEM_Library_&_Gel_Bead_Kit_v2'
  cellranger:
    chemistry: SC3Pv2
    whitelist: 737K-august-2016.txt
  starsolo:
    whitelist: 737K-august-2016.txt
    cb_len: 16
    umi_len: 10
    umi_start: 17
  alevin:
    chemistry: chromium
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNN

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v1':
  name: '10X_Genomics_Chromium_Single_Cell_3p_GEM_Library_&_Gel_Bead_Kit_v1'
  cellranger:
    chemistry: SC3Pv1
    whitelist: 737K-april-2014_rc.txt
  starsolo:
    whitelist: 737K-april-2014_rc.txt
    cb_len: 14
    umi_len: 10
    umi_start: 15
  alevin:
    chemistry: chromium
  umi_tools:
    chemistry: CCCCCCCCCCCCCCNNNNNNNNNN

'default-singlecell':
  name: 'default-singlecell'
  cellranger:
    chemistry: SC3Pv3
    whitelist: 3M-february-2018.txt
  starsolo:
    whitelist: 3M-february-2018.txt
    cb_len: 16
    umi_len: 12
    umi_start: 17
  alevin:
    chemistry: chromiumV3
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN

'16S Metagenomic Sequencing Library Prep':
  name: '16S_Metagenomic_Sequencing_Library_Prep'
  comment: 'Illumina 341-805 (V4) standard protocol'
  strand: reverse
  classifier_level: 99
  primers:
    V4:
       CCTACGGGNGGCWGCAG-GACTACHVGGGTATCTAATCC
  single_end:
    adapter: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter '
  paired_end:
    adapter: 'CTGTCTCTTATACACATCT'
    adapter2: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter --correction '

'QIAseq 16S ITS Region Panels':
  name: 'QIAseq_16S_ITS_Region_Panels'
  strand: reverse
  classifier_level: 99
  primers:
    V1V2:
      AGRGTTTGATYMTGGCTC-CTGCTGCCTYCCGTA
    V2V3:
      GGCGNACGGGTGAGTAA-WTTACCGCGGCTGCTGG
    V3V4:
      CCTACGGGNGGCWGCAG-GACTACHVGGGTATCTAATCC
    V4V5:
      GTGYCAGCMGCCGCGGTAA-CCGYCAATTYMTTTRAGTTT
    V5V7:
      GGATTAGATACCCBRGTAGTC-ACGTCRTCCCCDCCTTCCTC
    V7V9:
      YAACGAGCGMRACCC-TACGGYTACCTTGTTAYGACTT
    ITS1:
      CTTGGTCATTTAGAGGAAGTAA-GCTGCGTTCTTCATCGATGC
    ITS2:
      GTGARTCATCGARTCTTTGAA-CTBTTVCCKCTTCACTCG
  single_end:
    adapter: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter '
  paired_end:
    adapter: 'CTGTCTCTTATACACATCT'
    adapter2: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter --correction '
  qiime2_dada2:
    denoise:
      params:
        trunc_len_f: 240
        trunc_len_r: 200
        trim_left_f: 0
        trim_left_r: 0
        max_ee_f: 6.0
        max_ee_r: 8.0
        trunc_q: 2
        min_fold_parent_over_abundance: 1.0


'ITS Low Input GCF Custom':
  name: 'ITS_Low_Input_GCF_Custom'
  strand: reverse
  reference_db: unite
  classifier_level: dynamic
  primers:
    ITS: CTTGGTCATTTAGAGGAAGTAA-GNTGCGTTCTTCATCGATGS
  single_end:
    adapter: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter '
  paired_end:
    adapter: 'CTGTCTCTTATACACATCT'
    adapter2: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter --correction '

'ITS2 Low Input GCF Custom':
  name: 'ITS_Low_Input_GCF_Custom'
  strand: reverse
  reference_db: unite
  classifier_level: dynamic
  primers:
    ITS2: GTGARTCATCGAATCTTT-GATATGCTTAAGTTCAGCGGGT
  single_end:
    adapter: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter '
  paired_end:
    adapter: 'CTGTCTCTTATACACATCT'
    adapter2: 'CTGTCTCTTATACACATCT'
    trimmer: fastp
    fastp:
      params:
        '--low_complexity_filter --correction '
