'default':
  adapter2: 
  cellranger:
    chemistry: SC3Pv3
    whitelist: 3M-february-2018.txt
  starsolo:
    whitelist: 3M-february-2018.txt
    cb_len: 16
    umi_len: 12
    umi_start: 17
  alevin:
    chemistry: chromiumV3
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN

'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v3':
  adapter2: 
  cellranger:
    chemistry: SC3Pv3
    whitelist: 3M-february-2018.txt
  starsolo:
    whitelist: 3M-february-2018.txt
    cb_len: 16
    umi_len: 12
    umi_start: 17
  alevin:
    chemistry: chromiumV3
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNNNN
  
  
'10X Genomics Chromium Single Cell 3p GEM Library & Gel Bead Kit v2':
  adapter2: 
  cellranger:
    chemistry: SC3Pv2
    whitelist: 737K-august-2016.txt
  starsolo:
    whitelist: 737K-august-2016.txt
    cb_len: 16
    umi_len: 10
    umi_start: 17
  alevin:
    chemistry: chromium
  umi_tools:
    chemistry: CCCCCCCCCCCCCCCCNNNNNNNNNN