workflow: singlecell
quant:
  doublet_detection:
    method: default
    with_reference: false
    n_reference_samples: -1
    sample_keys: ['donor_ids', 'donor_files']
  demultiplex:
    method: skip
    with_reference: false
    donor_dir: ''
    n_reference_samples: -1
    sample_keys: ['donor_ids', 'donor_files']
  aggregate:
    skip: false
    method: scanpy
    norm: 'none'
    groupby: all_samples
  cellranger:
    mkgtf:
      gene_biotype:
        - protein_coding
        - lincRNA
    reanalyze:
      skip: true
  cellbender:
    enabled: false
    use_outputs: false
    methods: ['splitpipe', 'cellranger', 'parsebio_starsolo']
    sublibs: []
    extra_args: ''
  cellbender_call:
    subset: ''
    threshold: 0.5
    method: 'AND'
    allow_fuzzy: false
celltype_annotation:
  method: ''
  orthologs: ''