workflow: singlecell
quant:
  use_velo: true
  doublet_detection:
    method: default
  demultiplex:
    method: skip
    donor_dir: null
    n_individuals: -1
  aggregate:
    skip: false
    method: default
    norm: 'none'
    groupby: all_samples
  starsolo:
    preprocessor: ''
    trimmer: ''
    output_bam: false
    feature_count: 'GeneFull_Ex50pAS'
    multi_mappers: 'Unique'
  cellranger:
    mkgtf:
      gene_biotype:
        - protein_coding
        - lincRNA
    reanalyze:
      skip: true
  cellbender:
    enabled: false
    use_outputs: false
    methods: ['splitpipe', 'cellranger', 'parsebio_starsolo']
    sublibs: []
    extra_args: ''
  cellbender_call:
    subset: ''
    threshold: 0.5
    method: 'AND'
    allow_fuzzy: false
celltype_annotation:
  method: ''
  orthologs: ''
qc:
  fit:
    exclude_doublets: true
    min_cells: 100
    doublet_column: doublet_call
    singlet_value: singlet
  metrics:
    total_counts:
      scale: log1p
      mad_low: 3
      mad_high: 5
    n_genes_by_counts:
      scale: log1p
      mad_low: 3
      mad_high: 5
    mt_fraction:
      scale: raw
      mad_high: 3
