filter:
  dedup: false
  fastq_merge:
    skip: false
    sscol: Sample_ID
  sample_merge:
    skip: true
    sscol: Sample_Name
  contaminants:
    filter: false
    quantifier: skip
    ref: univec_core
  spikein:
    filter: false
    quantifier: skip
    ref: smallrna_calibrators
  ribosomal:
    filter: false
    quantifier: skip
    ref: ncbi
  trim:
    filter: true
    quantifier: fastp